@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rock+Salt&display=swap');

@font-face {
  font-family: "onepiece";
  src: url(/one-piece-font.ttf) format("truetype");
  font-style: normal;
}



* {
  margin: 0px;
  padding: 0px;
  /* font-family: 'Rock Salt', cursive; */
  font-family: "onepiece";
}

.containerError {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 222px;
}

.alert-build {
  text-align: center;
  margin-top: 10%;
  font-size: 4em;
  padding-top: 10%;
  padding-bottom: 10%;
  color: aliceblue;
  background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}